# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/backup

# misc
.DS_Store
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Don't push any keys etc
/src/config/keys.json
/src/server/mailer/config/index.js